
.Menu{
    position: absolute;
    top:60px;
    left:5px;
    width: 150px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px #d9d9d9;
}


.index{
    position:absolute;
    width: 100%;
    max-width:100%;
    left: 0%;
    top:55px;
    height: auto;
}

@media (min-width: 596px) { 

    .Menu{
        position: absolute;
        top:60px;
        left:5px;
        width: 150px;
    }


    .index{
        position:absolute;
        width: 70%;
        left: 15%;
        top:70px;
        
    }
}

@media (min-width: 768px) { 

    .Menu{
        position: absolute;
        top:60px;
        left:5px;
        width: 150px;
    }


    .index{
        position:absolute;
        width: 70%;
        left: 24%;
        top:70px;
        height: auto;
    }
 }

@media (min-width: 992px) { 

    .Menu{
        position: absolute;
        top:60px;
        left:5px;
        width: 150px;
    }


    .index{
        position:absolute;
        width: 75%;
        left: 22%;
        top:70px;
        height: auto;
    }
}

@media (min-width: 1200px) {

    .Menu{
        position: absolute;
        top:60px;
        left:5px;
        width: 150px;
        border: 1px solid #d9d9d9;
        box-shadow: 0 0 4px #d9d9d9;
    }


    .index{
        position:absolute;
        width: 1024px;
        height: auto;
        width: 75%;
        left: 20%;
        top:70px;
        
    }
}