
.Menu{
    position: absolute;
    top:60px;
    left:5px;
    width: 150px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px #d9d9d9;
}

.board{
    display: none;
}

.index{
    position:absolute;
    width: 100%;
    max-width:100%;
    left: 0%;
    top:235px;
    height: auto;
    z-index: 0;
}

.MobileMenu{
    position:fixed;
    top:55px;
    left:0px;
    width:100vw;
    max-width:100%;
    height:37px;
    background-color:rgb(229,68,109);
}
.statistic{
    position:absolute;
    width: 95%;
    max-width: 97%;
    height: auto;
    
    top:105px;
    margin: 0 2%;
}

.statistic ul{
    list-style-type: none;
    width: 100%;
    max-width: 100%;
    float:left;
    padding:0;
	margin: 0;
}
.statistic li{
    float:left;
    padding: 0 0.7vw;
}

@media (min-width: 596px) { 
    

    .Menu{
        position: absolute;
        top:60px;
        left:5px;
        width: 150px;
    }


    .index{
        position:absolute;
        width: 70%;
        left: 15%;
        top:235px;
        
    }
    .MobileMenu{
        position:fixed;
        top:55px;
        left:0px;
        width:100vw;
        max-width:100%;
        height:37px;
        background-color:rgb(229,68,109);
    }

    .statistic{
        position:absolute;
        width: 85%;
        max-width: 85%;
        height: auto;
        left: 10%;
        top:105px;
        
    }
    
    .statistic ul{
        list-style-type: none;
        width: 100%;
        max-width: 100%;
        float:left;
        padding:0;
        margin: 0;
    }
    .statistic li{
        float:left;
        padding: 0 5%;
    }
}

@media (min-width: 870px) { 
    .board{
        display: block;
    }

    .Menu{
        position: absolute;
        top:60px;
        left:5px;
        width: 150px;
    }


    .index{
        position:absolute;
        width: 70%;
        left: 24%;
        top:220px;
        height: auto;
    }
    .MobileMenu{
        position:fixed;
        top:55px;
        left:0px;
        width:100vw;
        max-width:100%;
        height:37px;
        background-color:rgb(229,68,109);
    }

    .statistic{
        position:absolute;
        width: 80%;
        height: auto;
        left: 15%;
        top:80px;
        display: block;
    }
    .statistic ul{
        list-style-type: none;
        float:left;
    }
    .statistic li{
        float:left;
        padding: 0 2%;
    }
 }

@media (min-width: 992px) { 

    .Menu{
        position: absolute;
        top:60px;
        left:5px;
        width: 150px;
    }


    .index{
        position:absolute;
        width: 75%;
        left: 20%;
        top:220px;
        height: auto;
    }

    .statistic{
        position:absolute;
        width: 75%;
        height: auto;
        left: 20%;
        top:80px;
        display: block;
    }
    .statistic ul{
        list-style-type: none;
        width: 100%;
        float:left;
    }
    .statistic li{
        float:left;
        padding: 0 3%;
    }
}

@media (min-width: 1200px) {

    .Menu{
        position: absolute;
        top:60px;
        left:5px;
        width: 150px;
        border: 1px solid #d9d9d9;
        box-shadow: 0 0 4px #d9d9d9;
    }


    .index{
        position:absolute;
        width: 1024px;
        height: auto;
        width: 75%;
        left: 20%;
        top:220px;
        
    }
    .statistic{
        position:absolute;
        width: 75%;
        height: auto;
        left: 20%;
        top:80px;
        display: block;
    }
    .statistic ul{
        list-style-type: none;
        width: 100%;
        float:left;
    }
    .statistic li{
        float:left;
        padding: 0 4%;
    }
}