.edit .Menu{
    width: 100%;
    background-image: none;
}

.edit .check-container{
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    margin-top: 20px;
    margin-bottom: 15px
}

.edit .check-container button{
    background-color: rgb(229,68,109);
    color: white;
    border :none;
    outline: none;
    min-height: 25px;
}

.edit .check-container .card{
    padding: 5px 30px;
    width: 300px;
    position: relative;
    border: none;
}

.confirm-container{
    margin-top: 30px;
}

.edit .check-container, .edit .btn-container, .btn-container #edit, .edit .MobileMenu ,.edit .toggle-container{
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    margin-top: 20px
}

.edit .btn-container, .btn-container #edit,.edit .MobileMenu{
    justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
}

.edit .btn-container button{
    padding: 7px 6px;
    font-weight: 100;
}

.edit .MobileMenu{
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.edit .MobileMenu{
    justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.edit .fliter{
    position: fixed;
    top:89px;
    left:0px;
    width: 100vw;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px #d9d9d9;
    background-color: rgb(229,68,109);
    padding:10px 15px;
}

.edit .MobileFliter{
    position:fixed;
    top:53.5px;
    left:0px;
    width:100vw;
    max-width:100%;
    height:37px;
    background-color:rgb(229,68,109);
    display: block;
}

.edit .toggle-container{
    margin-top: 0;
    justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

@media (min-width: 859px) { 
    .edit .check-container .card{
        width: 600px;
    }


    .edit .fliter{
        position: absolute;
        top:55px;
        left:0px;
        width: 200px;
        height: 92vh;
        padding-top: 10px;
        background-image: linear-gradient(to bottom, #eb6052 0%, #fe5196 100%);  
    }

    .edit .MobileFliter{
        display: none;
    }
}

