.editMajor{
    position: absolute;
    top: 55px;
    width: 100vw;
    height: 92vh;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

}

.editMajor .header,.editMajor,.editMajor .option-container{
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
}

.editMajor .btn-container ,.editMajor,.editMajor .header,.editMajor .option-container,.editMajor .send-box,.editMajor .input-box{
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.editMajor .input-box{
    justify-content: space-evenly;
    -ms-justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
}

.editMajor .send-box{
    margin-top: 20px;
    justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
}

.editMajor .send-box button{
    background-color : rgb(229,68,109);
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
}

.editMajor .btn-container {
    flex-wrap: wrap;
    border: none;
    padding: 5px 0px;
}

.editMajor .option-container{
    background-color: rgb(229,68,109);
    margin: 2px 5px;
    border-radius: 5px;
}

.editMajor .btn-container button {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    margin: 0px 1px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 300;
    
}

.editMajor .btn-container button:hover{
    background-color: rgba(0,0,0,0.1)
}

.editMajor .box{
    width: 350px;
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
}

.editMajor .box:nth-child(2){
    margin-left: 50px;
}

.editMajor .btn-container .edit-btn{
    background-image: url('../img/edit.png');
    background-color: none;
    border: none;
    outline: none;
    width: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 30px;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: 60%;
    border-left: 1px solid white;
}

.editMajor .header{
    background-color: rgb(229,68,109);
    color: white;
    height: 90px;
    font-size: 25px
}

.editMajor .select-box{
    padding: 15px 10px;
}

.editMajor .edit-box{
    padding: 15px 0px;
    margin: 0px 10px;
    border-top: 1.5px solid rgb(0,0,0,0.2);
}
