.rc-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px #d9d9d9;
    border-radius: 3px;
    color: #666;
}

.App{
    background-image: linear-gradient(to right, #f77062 0%, #fe5196 100%);
    color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
}


 .webName{
    position: absolute;
    margin-top: 43vh;
    width: 100%;
    font-size: 32px;
    margin-left:  0%;
    text-align: center;
    animation-name:fadeInUp;
    animation-duration:1s;
    
}

.warning{
    position: absolute;
    font-weight: 100;
    margin-top: 51.6vh;
    width: 86%;
    font-size: 14.2px;
    margin-left:  7%;
    text-align: center;
    animation-name:fadeInDownText;
    animation-duration:1.5s;
}

.know{
    position: absolute;
    width: 30%;
    height: 40px;
    font-size: 19.2px;
    margin-left: 35%;
    font-weight: 500;
    margin-top: 60.2vh;
    background-color:white;
    border: none;
    outline: none;
    color: rgb(229,68,109);
    border-radius: 10px;
    animation-name:fadeInDownBtn;
    animation-duration:2s;
}


@media (min-width: 596px) {
    .know{
        width: 20%;
        margin-left: 40%;
    }


}


@media (min-width: 890px) {
    .webName{
        position: absolute;
        width: 50%;
        margin-left: 25%;
        font-size: 40px;
        
    }
    
    .warning{
        position: absolute;
        width: 50%;
        font-size: 19.2px;
        margin-left:  25%;
    }
    
    .know{
        width: 10%;
        font-size: 19.2px;
        margin-left:  45%;
    }
}






@keyframes fadeInUp{
    0%{
        margin-top: 40.7vh;
        opacity: 0;
    }
    100%{
        margin-top: 43vh;
        opacity: 1;
    }
}


@keyframes fadeInDownText{
    0%{
        margin-top: 49.45vh;
        opacity: 0;
    }
    50%{
        margin-top: 49.45vh;
        opacity: 0;
    }
    100%{
        margin-top: 51.6vh;
        opacity: 1;
    }
}

@keyframes fadeInDownBtn{
    0%{
        margin-top: 58.05vh;
        opacity: 0;
    }
    67%{
        margin-top: 58.05vh;
        opacity: 0;
    }
    100%{
        margin-top: 60.2vh;
        opacity: 1;
    }
}




