.rc-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px #d9d9d9;
    border-radius: 3px;
    color: #666;
}

.menu-container a{
    background-color:"rgb(229,68,109)";
    color:"white";
    background-image:"none";
}

.menu_btn{
    position:"absolute";
    top:0;
    right:0;
    font-size: 30px;
    height:40px;
    width:40px;
    background-color:rgb(229,68,109);
    color:"white";
    outline:"none";
    border:2px solid white;
    border-radius:10px;
}