html::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
  border: none;
}

html::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #555;
  opacity: 0.5;
}

html::-webkit-scrollbar-track
{
background-color: #F5F5F5;
border: 0px solid;
}

html::-webkit-scrollbar-track-piece  {
 /* 4 */ 
 border: none;
}

.btn-primary{
    background-image: none;
}

.btn:focus,.btn.focus{
    box-shadow: none;
}

body{
    max-width: 100%;
    font-family: 'Noto Sans TC';
}
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    color: rgb(248, 224, 227);
    height: 55px;
    font-size: 20px;
    background-image: none;
    background-color: rgb(229,68,109);
    
    
}

.logo{
    margin-left: 1%;
    margin-top: 0.2%;
    width: auto;
    height:80%;
    background-color: rgba(0,0,0,0);
    color: white;
}


.navItem,.navItem:visited,.navItem:active{
    float: right;
    margin:  12.5px 50px;
    color: rgb(248, 224, 227);
    outline: none;
    text-decoration:none;
    display: none;
}

.navItem:hover{
    color: #FEABCF;
    text-decoration:none;
    outline: none;
}



@media (min-width: 576px) { 
    nav{
        height: 55px;
        font-size: 20px;
        
    }
    .navItem,.navItem:visited,.navItem:active{
        float: right;
        margin:  12.5px 50px;
        color: rgb(248, 224, 227);
        outline: none;
        
    }

}

@media (min-width: 870px) { 
    nav{
        height: 55px;
        font-size: 20px;
        background-image: linear-gradient(to right, #f77062 0%, #fe5196 100%);
    }
    .navItem,.navItem:visited,.navItem:active{
        display: block;
        outline: none;
    }

 }

@media (min-width: 992px) { 
    nav{
        height: 55px;
        font-size: 20px;
    }
    .navItem,.navItem:visited,.navItem:active{
        outline: none;
        display: block;
    }

}

@media (min-width: 1200px) {
    nav{
        height: 55px;
        font-size: 20px;
    }
    .navItem,.navItem:visited,.navItem:active{
        outline: none;
        display: block;
    }
}