.menu_mobile{
    position: absolute;
    top:0px;
    right:0px;
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: block;
}

@media (min-width: 768px) { 
    .menu_mobile{
        display: none;
    }

 }

.menuBtn{
    position:absolute;
    top:10px;
    right:10px;
    font-size: 30px;
    line-height: 5px;
    text-align: center;
    height:40px;
    width:40px;
    background-color:rgb(229,68,109);
    color:white ;
    outline: none;
    border:none;
    border-radius:10px;
}