.post .form_container{
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 5px;
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    min-height: 75vh;
    position: relative;  
}

#comment::-webkit-scrollbar
{
  width: 3px;
  background-color: transparent;
  border: none;
}

#comment::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #555;
  opacity: 0.5;
}

#comment::-webkit-scrollbar-track
{
background-color: transparent;
border: 0px solid;
}

#comment::-webkit-scrollbar-track-piece  {
 /* 4 */ 
 border: none;
}

#out_maj::-webkit-scrollbar, #in_maj::-webkit-scrollbar
{
  width: 3px;
  background-color: transparent;
  border: none;
}

#out_maj::-webkit-scrollbar-thumb, #in_maj::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #555;
  opacity: 0.5;
}

#out_maj::-webkit-scrollbar-track, #in_maj::-webkit-scrollbar-track
{
background-color: transparent;
border: 0px solid;
}

#out_maj::-webkit-scrollbar-track-piece, #in_maj::-webkit-scrollbar-track-piece  {
 /* 4 */ 
 border: none;
}


#rank,#year,#id,#out_maj, #in_maj,#score{
    /* 4 */ 
    width:30%;
    color:rgba(0,0,0,0.4);
    border-radius: 0px;
    text-align: center;
    height: 30px;
    padding: 5px 5px;
}

#year option,#out_maj option,#in_maj option{
    color: rgb(229,68,109);
}

.post .step-container{
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    padding-top: 5px;
    justify-content: space-around;
    color: rgba(0,0,0,0.2);
}

.post .step-box,.post .header-box{
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 150px;
}

.post .card-box{
    width: 100vw;
    margin-left: 0px;
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
}

.post .header-box{
    max-width: 100vw;
    width: 100vw;
    background-color: rgb(229,68,109);
    padding: 17px 13px;
}

.post .header-box img{
    height: 80px;
}

.post .step{
    width: 30px;
    height: 30px;
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    color: rgba(0,0,0,0.2);
    background-color: rgb(229,68,109);
    border: 3px solid rgba(0,0,0,0.2);
}

.post .send-box{
    position: absolute;
    right: 0px;
    bottom: 20px;
    width: 100%;
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}


#rank,#year,#id,#out_maj, #in_maj,#score,#comment{
    border:0px solid grey;
    background-color: rgba(0,0,0,0.05);
    outline: none;
    
}

#rank:focus,#year:focus,#id:focus,#out_maj:focus, #in_maj:focus,#score:focus,#comment:focus{
    border-bottom: 0.5px solid rgb(229,68,109);
    color: rgb(229,68,109);
}

.post p{
    width:80%;
    margin-left: 0%;
    color: rgba(0,0,0,0.5);
}




#comment{
    /* 4 */ 
    height:45vh;
    width:100%;
    color:black;
    padding: 10px 15px;
}

#comment:focus  {
    /* 4 */ 
    border: 1px solid  rgb(229,68,109);
    color:rgba(0,0,0,0.7);
    outline: none;
}

.post .index{
    position:absolute;
    width: 100vw;
    max-width:100%;
    left: 0%;
    top: 55px;
    z-index: 0;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    background-image: none;
}

.admin .index{
    background-image: linear-gradient(to top, #f77062 0%, rgb(229,68,109) 100%);
    height: 92vh;
}

.post .input-container,.post .index, .post .start-context,.post .type-box p{
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    flex-direction: column;
}

.post .input-container{
    margin-top: 0px;
    width: 100%;
}

.post, .post .type-box{
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
}

.post .type-box p{
    align-items: center;
    padding: 10px 20px;
    margin: 0 0;
    background-color: white;
    font-size: 16px;
    color: rgba(0,0,0,0.7);
    width: 100%;
    
}

.post .type-box{
    justify-content: center;
    flex-wrap: wrap;
}

.post .start-context{
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Noto Sans TC';
    align-items: center;
    justify-content: center;
}

.post h1{
    font-size: 30px;
    font-weight: 300;
}

.post .start-context button{
    color: #fe5196;
    border-radius: 10px;
    margin-top: 15px;
}

.post .btn-container button, .post .start-context button{
    background-color: white;
    border: none;
    border-top-left-radius:  10px;
    border-top-right-radius:  10px;
    padding: 5px 15px;
    font-size: 18px;
    outline: none;
    width: 50%;
    font-weight: 700;

}

.post .start-context p button{
    background-color: rgb(229,68,109);
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
} 

@media (min-width: 596px) { 

}

@media (min-width: 768px) {
    .post .form_container{
        width: 350px;
        min-height: 60vh;     
    }
    .post .index{
        background-color: rgba(0,0,0,0.2);
        height: 100vh;
    }
    
    .post .type-box p{
        align-items: center;
        width: 100%;
    }

    #comment{
        height:35vh;
    }
 }

@media (min-width: 870px) { 
    .admin .index{
        background-image: linear-gradient(to right, #f77062 0%, #fe5196 100%);
    }
    .post p{
        margin-left: 0%;
    }
    .post .card-box{
        width: 250px;
        margin-left: 40px;
    }
    .post .header-box{
        max-width: 350px;
        width: 250px;
    }
    .post .input-container{
        width: 450px;
        margin-top: 20px;
    }

    .post .start-context p button{
        margin-top: 40px;
        margin-bottom: 0px;
    } 
}

@media (min-width: 1200px) {

}

