.post .form_container{
    width: 80%;
    background-color: #F5F5F5;
    border-radius: 5px;
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
}

#comment::-webkit-scrollbar
{
  width: 3px;
  background-color: #F5F5F5;
  border: none;
}

#comment::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #555;
  opacity: 0.5;
}

#comment::-webkit-scrollbar-track
{
background-color: #F5F5F5;
border: 0px solid;
}

#comment::-webkit-scrollbar-track-piece  {
 /* 4 */ 
 border: none;
}

#out_maj::-webkit-scrollbar, #in_maj::-webkit-scrollbar
{
  width: 3px;
  background-color: #F5F5F5;
  border: none;
}

#out_maj::-webkit-scrollbar-thumb, #in_maj::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #555;
  opacity: 0.5;
}

#out_maj::-webkit-scrollbar-track, #in_maj::-webkit-scrollbar-track
{
background-color: #F5F5F5;
border: 0px solid;
}

#out_maj::-webkit-scrollbar-track-piece, #in_maj::-webkit-scrollbar-track-piece  {
 /* 4 */ 
 border: none;
}


#rank,#year,#id,#out_maj, #in_maj,#score{
    /* 4 */ 
    width:30%;
    color:black;
    border-radius: 3px;
    text-align: center;
}

#rank,#year,#id,#out_maj, #in_maj,#score,#comment{
    border:0px solid grey;
    background-color: #d9d9d9;
}

.post p{
    width:80%;
    margin-left: 0%;
}

#year:focus,#id:focus ,#out_maj:focus, #in_maj:focus,#score:focus {
    /* 4 */ 
    border: 1px solid  rgb(229,68,109);
    outline: none;
}


#comment{
    /* 4 */ 
    height:160px;
    width:100%;
    color:black;
}

#comment:focus  {
    /* 4 */ 
    border: 1px solid  rgb(229,68,109);
    outline: none;
}

.post .index{
    position:absolute;
    width: 100vw;
    max-width:100%;
    left: 0%;
    top: 55px;
    z-index: 0;
    height: 100vh;
    padding-bottom: 5vh;
    align-items: center;
    background-image: none;
    background-image: linear-gradient(to top, #f77062 0%, rgb(229,68,109) 100%);
}

.post .input-container,.post .index, .post .start-context,.post .type-box p{
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    flex-direction: column;
}

.post .input-container{
    margin-top: 20px;
    width: 90%;
}

.post, .post .type-box{
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
}

.post .type-box p{
    align-items: center;
    width: 70%;
}

.post .type-box{
    justify-content: center;
    flex-wrap: wrap;
}

.post .start-context{
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Noto Sans TC';
    align-items: center;
    justify-content: center;
}

.post h1{
    font-size: 30px;
    font-weight: 300;
}

.post .start-context button{
    color: #fe5196;
    border-radius: 10px;
    margin-top: 15px;
}

.post .btn-container button, .post .start-context button{
    background-color: white;
    border: none;
    border-top-left-radius:  10px;
    border-top-right-radius:  10px;
    padding: 5px 15px;
    font-size: 18px;
    outline: none;
    width: 50%;
    font-weight: 700;

}

@media (min-width: 596px) { 

}

@media (min-width: 768px) {
    .post .form_container{
        width: 36%;     
    }
    .post .index{
        background-image: linear-gradient(to right, #f77062 0%, #fe5196 100%);
    }

    .post .input-container{
        width: 50%;
    }
    
    .post .type-box p{
        align-items: center;
        width: 50%;
    }
 }

@media (min-width: 992px) { 
    .post .index{
        
    }
    .post p{
        margin-left: 0%;
    }
    .post .input-container{
        width: 30%;
    }
}

@media (min-width: 1200px) {

}

