

.Modal {
  position: absolute;   
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0,0.5);
}


.id_container{
  width: 15vw;
  height:15vw;
  border-radius:100px;
  background-color: rgb(229,68,109);
  text-align: center;
  line-height: 14vw;
  font-size: 5vw;
  color: white;
}

 .title{
  position: absolute;
  left: 35vw;
  top: 5.5vw;
  width: 30vw;
  font-size: 6vw;
}

.card_container h2{
    font-size: 25px;
}

.card_container span{
  font-size: 4vw;
  font-weight: 100;
  letter-spacing: 2.5px;
  line-height: 8vw;
  text-align:justify;
}


.card-box::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
  border: none;
}

.card-box::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #555;
  opacity: 0.5;
}

.card-box::-webkit-scrollbar-track
{
background-color: #F5F5F5;
border: 0px solid;
}

.card-box::-webkit-scrollbar-track-piece  {
 /* 4 */ 
 border: none;
}

.closeBtn{
position: absolute;
right:15px;
top:20px;
width: 10vw;
height: 50px;
font-size: 3vw;
padding: 0 0;
background-color: rgba(0, 0, 0,0.001);
border: 0.5px solid gray;
}

.closeBtn2{

width: 65px;
height: 50px;
font-size: 20px;
background-color: rgba(0, 0, 0,0.001);
border: 0.5px solid gray;
}


.Modal th{
font-weight: 400;
}

.contentBtn{
position: absolute;
top:125px;
width: 12vw;
height: 360px;
background-color: rgba(0, 0, 0,0);
border: none;
outline: none;
}

.contentBtn:hover{

background-color: rgba(0, 0, 0,0);

}

.Arrow{
position: absolute;
top: 175px;
border-right: 4px solid gray;
border-top: 4px solid gray;
height: 5vw;
width: 5vw;
border-left: 2px solid transparent;
border-bottom: 2px solid transparent;
display: inline-block;
}

.btnText{
position: absolute;
top: 197.5px;
font-size: 3vw;
}



#rightBtn{
right: 0px;
outline: none;
}

#rightArrow{
left: 5px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

#next{
left: 1px;
}

#leftBtn{
left: 0px;
outline: none;
}

#leftArrow{
right: 10px;
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}

#before{
right: 6px;
}

.type_table{
  position:relative;
  top: 15px;
  font-size: 4vw;
  font-weight: 100;
}

@media (min-width: 596px) {
    .id_container{
    width: 72px;
    height:72px;
    border-radius:100px;
    background-color: rgb(229,68,109);
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    color: white;
  }
.title{
    position: absolute;
    left: 180px;
    top: 36px;
    width: 400px;
    font-size: 36px;
  }

  .closeBtn{
    position: absolute;
    right:15px;
    top:20px;
    width: 65px;
    height: 50px;
    font-size: 20px;
    background-color: rgba(0, 0, 0,0.001);
    border: 0.5px solid gray;
  }

  .card_container span{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2.5px;
    line-height: 35px;
    text-align:justify;
  }

  .closeBtn2{
  
    width: 65px;
    height: 50px;
    font-size: 20px;
    background-color: rgba(0, 0, 0,0.001);
    border: 0.5px solid gray;
  }


  .Modal th{
    font-weight: 400;
  }

  .contentBtn{
    position: absolute;
    top:125px;
    width: 80px;
    height: 360px;
    background-color: rgba(0, 0, 0,0);
    border: none;
    outline: none;
    }

.contentBtn:hover{

  background-color: rgba(0, 0, 0,0.1);

}

.Arrow{
  position: absolute;
  top: 175px;
  border-right: 4px solid gray;
  border-top: 4px solid gray;
  height: 50px;
  width: 50px;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: inline-block;
}

.btnText{
  position: absolute;
  top: 187.5px;
  font-size: 15px;
}



.content_container #rightBtn{
  right: 10px;
  outline: none;
}

.content_container #rightArrow{
  left: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#next{
  left: 1px;
}

.content_container #leftBtn{
  left: 10px;
  outline: none;
}

.content_container #leftArrow{
  right: 10px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

  #before{
    right: 6px;
  }
  
  .type_table{
    position:relative;
    top: 10px;
    font-size: 20px;
    font-weight: 100;
  }
}


@media (min-width: 870px) {

}



