.QAIndex{
    width: 100%;
    max-width: 100%;
    margin: 0 0%;
}


@media (min-width: 596px) { 
    .QAIndex{
        width: 1024px;
        width: 100%;
        height: 100%;
        width: 1024px;
        width: 100%;
        height: 100%;
        margin: 0 0px;
        min-height: 91.8vh;
    }
}

@media (min-width: 768px) { 
    .QAIndex{
        width: 1024px;
        width: 100%;
        height: 100%;
        margin: 0 10px;
    }
 }

@media (min-width: 992px) { 
    .QAIndex{
        width: 1024px;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .QAIndex{
        width: 1024px;
        width: 100%;
        height: 100%;
        
    }
}